<nav class="flex justify-between items-center px-10 py-2 border-b">
    <div class="flex justify-center items-center gap-2">
        <img src="/logo.jpg" alt="logo" width="60px" height="60px">
        <h1 class="font-medium text-xl">Recipie</h1>
    </div>
</nav>